{% extends 'base.html.twig' %}

{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="mt-80 mb80">
                    <div class="detail-banner" style="background-image: url(assets/img/tmp/detail-banner-1.jpg);">
                        <div class="container">

                            {% block provider_resume %}

                            {% endblock %}

                        </div><!-- /.container -->
                    </div><!-- /.detail-banner -->

                </div>

                <div class="container">

                    {% block provider_content %}

                    {% endblock %}

                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}



