
<div class="alert alert-icon alert-dismissible alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <strong>Oh snap!</strong> {{ flash_danger }}
</div>