<div class="alert alert-icon alert-dismissible alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <strong>
        {% if flash_head is defined %}
            {{ flash_head }}
        {% else %}
        Heads up!
        {% endif %}
    </strong>
    {{ flash_info }}

    {% if button_info is defined %}
        <a href="{{ path( button_info.route ) }}" class="label label-gb label-info">{{ button_info.message }}</a>
    {% endif %}
</div>