{% extends 'base.html.twig' %}

{% block main %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">
                {# Menu admin #}

                {{ include("superlist/template-part/admin/admin-menu.html.twig") }}
                {# EndMenu #}

                {# Admin Content Form #}
                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="page-title">
                                                <h1>Forms</h1>
                                            </div><!-- /.page-title -->

                                            {% block form %}

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="background-white p20 mb50">
                                                        <h2 class="page-title">Text, Email, Texarea</h2>

                                                        <form>
                                                            <div class="form-group">
                                                                <label for="exampleInputText1">Text Input</label>
                                                                <input type="text" class="form-control" id="exampleInputText1" placeholder="Your Name">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Email Input</label>
                                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Email">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="exampleInputTextarea">Textarea</label>
                                                                <textarea class="form-control" rows="5" id="exampleInputTextarea" placeholder="Some Sweet Words"></textarea>
                                                            </div>

                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-comment"></i> Submit</button>
                                                        </form>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="background-white p20 mb50">
                                                        <h2 class="page-title">Select, URL, Password</h2>

                                                        <form>
                                                            <div class="form-group">
                                                                <label for="exampleInputRequired1">Required <span class="required">*</span></label>
                                                                <input type="text" class="form-control" id="exampleInputRequired1" placeholder="You Have To Fill" required>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Password Input</label>
                                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Your Password">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="exampleInputURL1">URL Input</label>
                                                                <input type="url" class="form-control" id="exampleInputURL1" placeholder="Website">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="">Select</label>
                                                                <select class="form-control" title="Select Option">
                                                                    <option>New York</option>
                                                                    <option>San Francisco</option>
                                                                    <option>Tokyo</option>
                                                                    <option>London</option>
                                                                </select>
                                                            </div><!-- /.form-group -->

                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Submit</button>
                                                        </form>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="background-white p20 mb50">
                                                        <h2 class="page-title">File, Checkboxes & Radios</h2>

                                                        <form>

                                                            <div class="form-group">
                                                                <label for="exampleInputFile">File input</label>
                                                                <input type="file" id="exampleInputFile">
                                                                <p class="help-block">Example block-level help text here.</p>
                                                            </div>

                                                            <div class="form-group">
                                                                <h6>Checkboxes</h6>
                                                                <div class="checkbox">
                                                                    <input type="checkbox" id="yesterday" checked><label for="yesterday">Yesterday</label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <input type="checkbox" id="today"><label for="today">Today</label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <input type="checkbox" id="tomorrow"><label for="tomorrow">Tomorrow</label>
                                                                </div>
                                                            </div><!-- /.form-group -->

                                                            <div class="form-group">
                                                                <h6>Radio Buttons</h6>
                                                                <div class="radio">
                                                                    <input id="male" type="radio" name="sex" value="male" checked><label for="male">Male</label>
                                                                </div>
                                                                <div class="radio">
                                                                    <input id="female" type="radio" name="sex" value="female"><label for="female">Female</label>
                                                                </div>
                                                            </div>

                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="background-white p20 mb50">
                                                <h2 class="page-title">Inline Form</h2>

                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Name</label>
                                                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Email</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                                    </div>

                                                    <div class="form-group input-rating">

                                                        <h6>Rating</h6>

                                                        <input type="radio" value="1" name="food" id="rating-food-1" checked>
                                                        <label for="rating-food-1"></label>
                                                        <input type="radio" value="2" name="food" id="rating-food-2">
                                                        <label for="rating-food-2"></label>
                                                        <input type="radio" value="3" name="food" id="rating-food-3">
                                                        <label for="rating-food-3"></label>
                                                        <input type="radio" value="4" name="food" id="rating-food-4">
                                                        <label for="rating-food-4"></label>
                                                        <input type="radio" value="5" name="food" id="rating-food-5">
                                                        <label for="rating-food-5"></label>

                                                    </div>

                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send invitation</button>
                                                </form>
                                            </div>

                                            <div class="background-white p20 mb50">
                                                <h2 class="page-title">Horizontal Form</h2>

                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <div class="checkbox">
                                                                <input type="checkbox" id="remember-me">
                                                                <label for="remember-me">Remember me</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign in</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            {% endblock %}
                                        </div><!-- /.col-* -->

                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->

                        <div class="content-admin-footer">
                            <div class="container-fluid">
                                <div class="content-admin-footer-inner">
                                    &copy; 2015 All rights reserved. Created by <a href="#">Aviators</a>.
                                </div><!-- /.content-admin-footer-inner -->
                            </div><!-- /.container-fluid -->
                        </div><!-- /.content-admin-footer  -->
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->
{% endblock %}



