{% extends 'base.html.twig' %}

{% block body %}
    <div id="header">
        <div id="followus">

        </div>
        <div id="logo-nav">
            <div id="logo">
                {% image '@App:Resources:public:images:logo.png' %}
                    <img src="{{ asset_url }}" alt="Logo du site">
                {% endimage %}
            </div>
            <navigation>

            </navigation>
        </div>

    </div>
    <div id="main">
        <h1>Welcome to Symfony 4.0</h1>
    </div>
{% endblock %}