{% extends "superlist/layout.html.twig" %}


{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    
                {% block contentDetail %}


                {% endblock %}
                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}



