{% extends 'superlist/admin/admin-form.html.twig' %}

{% block form %}

    <div class="row">
        <div class="col-md-5">
            <div class="background-white p20 mb50">
                <h2 class="page-title">Préstataire : Inscription</h2>

                {{ include("superlist/template-part/admin/form/provider_form.html.twig") }}

            </div>
        </div>

    </div>
    -

{% endblock %}