<div id="provider_logos___name__">
    <div class="form-group">
        <label for="provider_logos___name___place">
            Ordre d&#039;affichage :
        </label>
        <div class="btn-group bootstrap-select form-control">
            <select class="btn dropdown-toggle btn-default" id="provider_logos___name___place" name="provider[logos][__name__][place]">
                <option value="1">Premier plan</option>
                <option value="2">2ème place</option>
                <option value="3">3e place</option>
                <option value="4">4e place</option>
                <option value="5">5e place</option>
            </select>
        </div>

    </div>
    <div class="form-group">
        <label for="provider_logos___name___url">
            Image (JPG, JPEG, PNG)
        </label>
        <input type="file" id="provider_logos___name___url" name="provider[logos][__name__][url]" required="required" />
    </div>
</div>