<div id="provider_serviceCategories___name__">
    <div class="form-group">
        <label for="provider_serviceCategories___name___name" class="">
            Name
        </label>
        <input class="form-control" type="text" id="provider_serviceCategories___name___name" name="provider[serviceCategories][__name__][name]" required="required" />
    </div>
    <div class="form-group">
        <label for="provider_serviceCategories___name___description" class="">
            Description
        </label>
        <textarea class="form-control" id="provider_serviceCategories___name___description" name="provider[serviceCategories][__name__][description]" required="required">

        </textarea>
    </div>
    <div class="checkbox">
        <input class="" type="checkbox" id="provider_serviceCategories___name___inFrontPage" name="provider[serviceCategories][__name__][inFrontPage]" required="required" value="1" />
        <label for="provider_serviceCategories___name___inFrontPage" class="">
            En page de couverture
        </label>

    </div>
    <div class="form-group">
        <div id="provider_serviceCategories___name___image">
            <div>
                <label for="provider_serviceCategories___name___image_place" class="">
                    Ordre d&#039;affichage :
                </label>
                <select id="provider_serviceCategories___name___image_place" name="provider[serviceCategories][__name__][image][place]" class="form-control">
                    <option value="1">Premier plan</option>
                    <option value="2">2ème place</option>
                    <option value="3">3e place</option>
                    <option value="4">4e place</option>
                    <option value="5">5e place</option>
                </select>
            </div>
            <div>
                <label for="provider_serviceCategories___name___image_url" class="">
                    Image (JPG, JPEG, PNG)
                </label>
                <input type="file" id="provider_serviceCategories___name___image_url" name="provider[serviceCategories][__name__][image][url]" required="required" />
            </div>
        </div>
    </div>
</div>