
<div class="sidebar-admin">
    <ul>
        <li class="active"><a href="#"><i class="fa fa-file"></i></a></li>
        <li><a href="#"><i class="fa fa-pencil"></i></a></li>
        <li><a href="#"><i class="fa fa-flag-o"></i></a></li>
        <li><a href="#"><i class="fa fa-folder-o"></i></a></li>
        <li><a href="#"><i class="fa fa-bar-chart"></i></a></li>
        <li><a href="#"><i class="fa fa-cog"></i></a></li>
    </ul>
</div><!-- /.sidebar-admin-->

<div class="sidebar-secondary-admin">
    <ul>
        <li class="active" >
            <a href="admin-dashboard.html">
                <span class="icon"><i class="fa fa-tachometer"></i></span>
                <span class="title">Tableau de bord</span>
                <span class="subtitle">Gérer votre profil</span>
            </a>
        </li>

        <li>
            <a href="admin-forms.html">
                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                <span class="title">Services <span class="notification">3</span> </span>
                <span class="subtitle">Tous vos services</span>
            </a>
        </li>

        <li >
            <a href="admin-tables.html">
                <span class="icon"><i class="fa fa-table"></i></span>
                <span class="title">Promotions</span>
                <span class="subtitle">Tous les promotions</span>
            </a>
        </li>

        <li >
            <a href="admin-grid.html">
                <span class="icon"><i class="fa fa-th"></i></span>
                <span class="title">Catégories  <span class="notification">2</span></span>
                <span class="subtitle">Catégories de service offerts</span>
            </a>
        </li>

        <li >
            <a href="admin-notifications.html">
                <span class="icon"><i class="fa fa-bell"></i></span>
                <span class="title">Notifications</span>
                <span class="subtitle">Toutes les notifications</span>
            </a>
        </li>
    </ul>
</div><!-- /.sidebar-secondary-admin -->